<!DOCTYPE html>
<html lang="en" ng-app="bookmarkApp">
<head>
    <link rel="stylesheet" href="../css/libs/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/libs/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="../css/libs/ng-tags-input.bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/libs/ng-tags-input.min.css"/>
    <link rel="stylesheet" href="../css/custom.css"/>
    <script type="text/javascript" src="../js/libs/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../js/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/libs/angular.min.js"></script>
    <script type="text/javascript" src="../js/libs/validate.js"></script>
    <script type="text/javascript" src="../js/libs/angular-resource.min.js"></script>
    <script type="text/javascript" src="../js/libs/jquery.tagcanvas.js"></script>
    <script type="text/javascript" src="../js/libs/bootstrap3-typeahead.js"></script>
    <script type="text/javascript" src="../js/libs/ng-tags-input.min.js"></script>
    <script type="text/javascript" src="../js/libs/underscore-min.js"></script>
    <script type="text/javascript" src="../js/libs/jquery.bootstrap-growl.js"></script>
    <script type="text/javascript" src="../js/controller.js"></script>
    <script type="text/javascript" src="../js/bookmarkCtrl.js"></script>
    <title>Bookmarks</title>
</head>
<body ng-controller="bookmarkCtrl">
<div class="container-fluid" style="padding: 15px;">
    <div class="row">
        <div class="col-lg-8">
            <div id="tagsContainer">
                <canvas ng-right-click="goBackOneLevel()" width="1200px" height="800px" id="tagsCanvas">
                    <p>Anything in here will be replaced on browsers that support the canvas element</p>
                    <ul class="weighted" id="weightTags">
                        <li data-ng-repeat="t in filteredTags">
                            <a href="#" ng-click="toggleBookmarkWithTag(t)"
                               data-weight="{{t.weight}}">{{t.text}}</a></li>
                    </ul>
                </canvas>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <a href="{{serverUrl}}" target="_blank">Bookmarks</a>
                    <span class="glyphicon glyphicon-cog pull-right" style="cursor:pointer;"  ng-click="openOptions()"/>
                </div>
                <div class="panel-body">
                    <div class="input-group">
                        <tags-input id="tagsInput" ng-model="selectedTags" class="bootstrap" style="width:600px"
                                    add-from-autocomplete-only="true" on-tag-added="updateTags($tag)"
                                    on-tag-removed="updateTags($tag)">
                            <auto-complete source="loadItems($query)"
                                           min-length="2"
                                           debounce-delay="0"
                                           max-results="10"></auto-complete>
                        </tags-input>
                    </div>
                    <div class="input-group">
                        <input type="search" ng-model="filterText" id="searchText" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <ul class="list-group bookmark-scrollable bookmarkList">
                    <li data-ng-repeat="b in selectedBookmarks" class="list-group-item">
                        <a title="{{b.title}}"
                           href="{{b.url}}"
                           target="_blank">{{b.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


</body>
</html>