<!DOCTYPE html>
<html lang="en" ng-app="bookmarkApp">
<head>
    <link rel="stylesheet" href="../css/libs/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/libs/font-awesome.css">
    <link rel="stylesheet" href="../css/libs/ng-tags-input.bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/libs/ng-tags-input.min.css"/>
    <link rel="stylesheet" href="../css/custom.css"/>
    <script type="text/javascript" src="../js/libs/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../js/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/libs/angular.min.js"></script>
    <script type="text/javascript" src="../js/libs/validate.js"></script>
    <script type="text/javascript" src="../js/libs/angular-resource.min.js"></script>
    <script type="text/javascript" src="../js/libs/underscore-min.js"></script>
    <script type="text/javascript" src="../js/libs/jquery.tagcanvas.js"></script>
    <script type="text/javascript" src="../js/libs/bootstrap3-typeahead.js"></script>
    <script type="text/javascript" src="../js/libs/ng-tags-input.min.js"></script>
    <script type="text/javascript" src="../js/controller.js"></script>
    <script type="text/javascript" src="../js/manageCtrl.js"></script>
    <title>Manage Bookmarks</title>
</head>
<body ng-controller="manageCtrl">
<div class="container-fluid" style="width: 380px">
    <form data-toggle="validator" name="bookmarkForm" role="form">
        <div class="form-group-sm">
            <label for="title" style=";margin-top: 5px;" class="panel-title">ownBookmarks</label>
            <hr class="specialHr"/>
            <div class="input-group-sm">
                <input type="text" maxlength="255" required="required" ng-model="app.title" id="title"
                       class="form-control"
                       placeholder=""/>
                <input type="hidden" ng-model="app.url" value="{{app.url}}" id="url"/>
            </div>

            <div class="input-group-sm">
                <tags-input id="tagsInput" ng-model="app.tags" style="height: 36px" display-property="text"
                            required="required"
                            add-from-autocomplete-only="false">
                    <auto-complete source="loadItems($query)"
                                   min-length="2"
                                   debounce-delay="0"
                                   max-results="10"></auto-complete>
                </tags-input>
            </div>
        </div>
        <div class="input-group-sm pull-right" style="margin-bottom: 5px;margin-top: 5px;">
            <button type="submit" ng-click="removeBookmark()" ng-show="app.exists"
                    class="btn btn-xs btn-danger"><span class="fa fa-remove" aria-hidden="true"></span>&nbsp;Remove
            </button>
            <button type="submit" ng-disabled="bookmarkForm.$invalid" ng-click="saveBookmark()"
                    class="btn btn-xs btn-success"><span class="fa fa-save" aria-hidden="true"></span>&nbsp;Save
            </button>
        </div>
    </form>
</div>
</body>
</html>